.projects-strong {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #ff4d01;
}
.porjects-wrapper {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.porjects-wrapper__box {
  width: 602px;
}
.wrapper-box__titile {
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #191919;
}
.projects-wrapper {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.porjects-bottom {
  position: relative;
}
.porjects-bottom__wrapper {
  position: absolute;
  top: 320px;
  left: 30px;
  width: 485px;
  height: 281px;
}
.bottom-wrapper__title {
  width: 361px;
}
.bottom-wrapper__title > h3 {
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 48px;
  color: #ffffff;
}
.bottom-wrapper__text {
  width: 447px;
}
.bottom-wrapper__text > p {
  margin-bottom: 43px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #eaeaeb;
}
.line {
  margin-bottom: 30px;
  display: block;
  width: 480px;
  height: 1px;
  background: #989899;
}
.porjects-bottom__span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #eaeaeb;
}

.porjects-bottom__left {
  position: relative;
}
.bottom-left__wrapper {
  position: absolute;
  top: 320px;
  left: 30px;
  width: 485px;
  height: 281px;
}
.left-wrapper__title {
  width: 361px;
}
.left-wrapper__title > h3 {
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 48px;
  color: #ffffff;
}
.bottom-wrapper__text {
  width: 447px;
}
.bottom-wrapper__text > p {
  margin-bottom: 43px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #eaeaeb;
}
.bottom-left__span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #eaeaeb;
}
.bottom-left__span::before {
  content: url("../../images/uchiburche.svg");
  vertical-align: middle;
  margin-right: 10px;
}
.projects-wrapper__bottom {
  text-align: center;
  margin-bottom: 200px;
}
.bottom__span {
  display: inline-block;
  width: 72px;
  height: 72px;
  background-color: white;
  border: 2px solid black;
}
.bottom__span:hover{
  border: 2px solid #FF4D01;
}
.bottom__span:active{
  border: 2px solid #FF4D01;
  background-color: #FF4D01;
}
.bottom__span1 {
  margin-left: 24px;
  display: inline-block;
  width: 72px;
  height: 72px;
  background-color: #FF4D01;
}
.bottom__span1:hover{
  border: 2px solid black;
} 
.bottom__span1:active{
  background-color: white;
  border: 2px solid black;
} 